*{

    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}

.text-gray{
    color: rgb(66, 66, 66);
}
.text-light-gray{
    color:#727272;
}
.text-primary{
    color:rgb(255, 144, 14);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    border-radius: 8px;
    border:none;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: "Work Sans";
    font-size: 1rem;
    font-weight: 600;
    padding: 18px;
}

.section-title{
    
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}




/*header style */




/* navbar related style */

.navbar{
    justify-content: space-between;
    align-items: center;
  
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: rgb(66, 66, 66);
    font-family: "Work Sans";
    font-size: 1rem;

}

.brand{
    color: rgb(19, 19, 19);
font-family: "Work Sans";
font-size: 2.5rem;
font-weight: 700;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;;
}
.banner-description{
    color: rgb(114, 114, 114);
font-family: "Work Sans";
font-size: 1rem;
font-weight: 400;
margin-top: 25px;
}

.banner-image{
    width: 100%;
}


/* Main- teams and features section */
.teams{
    align-items: center;
}

.team-image-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 8.125rem;
    max-width: 33.12rem;
}



#quick-list{
    font-weight: 500;
}
.feature-title{
    font-size: 2.5rem;
    font-weight: 700;
}

/* Facts section style */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact-card{
    box-sizing: border-box;
    border: 2px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.fact-icon{
  
}
.fact-number{
    color: rgb(66, 66, 66);
font-family: "Work Sans";
font-size: 2.25rem;
font-weight: 600;
margin:0;
margin-top: 5px;
}
.fact-name{
    color: rgb(114, 114, 114);
font-family: "Work Sans";
font-size: 1.25rem;
font-weight: 600;
margin:0;
}

.fact-description{
    max-width: 33rem;
}
.fact-title{
    font-size: 2.5rem;
    font-weight: 700;
}

/* Sponsor related style */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.sponsor-description{
    color: rgb(114, 114, 114);
font-family: "Work Sans";
font-size: 1rem;
font-weight: 400;
}

.sponsor-companies{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;justify-items: center;
}
.sponsor-companies img{
        filter: grayscale(100%);
    }


    /* Enjoy feature section */
    .enjoy-title{
        font-size: 2.5rem;
        font-weight: 700;
        color: rgb(19, 19, 19);
        font-family: "Work Sans";

    }
    #sec-title{
       border-left: 5px solid rgb(255, 144, 14);
       padding-left: 21px;
    }

    .feature-card .feature-title{
        font-weight: 600;
        font-size: 1.25rem;
        color: rgb(19, 19, 19);
        margin: 14px 14px;
        
    }

    .feature-card{
        padding: 30px;
        box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .enjoy{
        gap: 140px;
    }

    #experience-badge{
        padding: 45px 42px;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -130px;
        margin-right: -230px;
    }
    #experience-year{
        font-size: 2.5rem;
        font-weight: 700;
    }

    .featured-architect img{
        width: 100%;
    }


    /* Footer */
    .footer{
      justify-content: center;
      margin: 40px auto;
      align-items: center;
      max-width: 1340px;
      height:100px;
      padding: auto 40px;
      border-radius: 8px;
    background: rgb(255, 244, 231);
    }

    .footer p{
        color: rgb(66, 66, 66);
    font-family: "Work Sans";
    font-size: 1rem;
    font-weight: 400;
    }
    

/* Responsive media query */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams, .enjoy, .footer{
        flex-direction: column;
    }
    .team-image-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 2.55rem;
    }

    .facts-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 5rem;
    }
    .fact-title{
       margin-left: 5rem;  
    }
    .fact-description{
        margin: 2.5rem;
    }
    .sponsor-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 50px;
    }
    .sponsor-description{
        font-size: 1.5rem;
       padding: 20px;
       margin:0;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .footer p{
        line-break:auto;
        align-items: center;
    }
    
}


@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .enjoy{
        flex-direction: column;
    }
    .our-features{
        margin-left: 3.50rem;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
}