@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared style */

.display-flex{
  display: flex;
}

.section-title{
  font-size: 2.8rem;
  font-family: "work Sans";
}


/* color styles */
.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  width: 120px;
  height: 44px;
  font-size: 1.25 rem;
  font-weight: 700;
  font-family: "work Sans";
  color: white;
  border: none;
  border-radius: 8px;
  background: rgb(255, 144, 14);
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 100px;
}

/*header style */


/*Navbar related style */

.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  
}

.nav-item{
  list-style: none;
  margin-right : 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.brand{
  color: rgb(19, 19, 19);
font-family: "Work Sans";
font-size: 3 rem;
font-weight: 700;
}

/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  color: rgb(19, 19, 19);
font-family: "Work Sans";
font-size: 3.8rem;
font-weight: 700;
}

.banner p{
  color: rgb(114, 114, 114);
font-family: "Work Sans";
font-size: 1.2 rem;
font-weight: 400;
border-radius: 8px;
}

.banner-image{
  width: 100%;
}

/* team and feature related style */
.teams{
  align-items: center;
  max-width: 1440px;
  margin: 80px auto;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
  max-width: 530px;
}

.feature-description{
  color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1.2 rem;
font-weight: 400;
}


/* responsive media query*/

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams{
  flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-left: 20px;
  }
}

/* Medium device size */

@media screen and (min-width: 576px) and (max-width: 992px) {

  .teams{
    flex-direction: column ;
  }

  .our-features{
    margin-left: 50px;
  }
}